<style>
  .p {
    color: black;
  }
  .message-container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .message {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
    margin-top: 20px;
    width: 95%;
    margin-left: 5%;
  }
  .message img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
  }
  .message-bubble {
    max-width: 80%;
    padding: 10px;
    border-radius: 10px;
    position: relative;
  }
  .message-info {
    font-size: 0.9em;
    color: #555;
    margin-top: -16px;
  }
</style>
<div class="container">
  <div class="row mb-3">
    <div class="col-md-6">
      <h1 class="display-4 text-start">Recommendations</h1>
    </div>
  </div>  
      
    <div class="message-container">
  <div class="message">
    <img src="/img/avatars/JH-avatar.png" alt="Recommender 1">
    <div style="background-color: #D0E7FF;" class="message-bubble">
      <p style="color: black;">I highly recommend Christopher for a system administration role specifically, and for any technical role for which his skills are appropriate.</p>
      <p class="message-info">John H</a>, Support Supervisor</p>
      <p class="message-info">Liquid Web</p>
    </div>
  </div>
  <div class="message">
    <img src="/img/avatars/LP-avatar.png" alt="Recommender 2">
    <div style="background-color: #D4EDDA;" class="message-bubble">
      <p style="color: black;">He is knowledgeable, respectful, hardworking, and I recommend him without reservation.</p>
      <p class="message-info">Lucas P</a>, Teacher</p>
      <p class="message-info">Kankakee Area Career Center</p>
    </div>
  </div>
  <div class="message">
    <img src="/img/avatars/KB-avatar.png" alt="Recommender 2">
    <div style="background-color: #F5FFFA;" class="message-bubble">
      <p style="color: black;">Quite simply, Chris is one of the most personable and passionate individuals I have had the privilege of teaching.</p>
      <p class="message-info"> Karla B</p>
      <p class="message-info"> Career and Technical Education Department Chair</p>
      <p class="message-info"> Bradley-Bourbonnais Community High School</p>
    </div>
  </div>
</div>       
</div>